.pink-button-container button {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    background-color: #fa6161;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s ease-in-out;   
}

.pink-button-container button:hover {
    background-color: #515151;
}