.card {
    border: none;
    margin-top: 100px
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.89) 1%,rgba(124,183,230,0) 99%,rgba(125,185,232,0) 100%);
}

.card .card-content {
    width: 50%;
    text-align: center;
}

.card-content .card-title {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 0px;
    text-transform: none;
}

.card-content .card-text {
    font-size: 20px;
    font-weight: 600;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin: 20px 0px;
    display: inline-block;
}
